body{
	font-family: 'Open Sans', sans-serif;
}

.cabecalho {
	height: 100px;
	border-bottom: 1px solid #000;
	margin-bottom: 40px;
}

.cabecalho h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

#cartoes {
	margin: 0 auto;
	display: block;
	max-width: 1024px;
	width: 100%;
}
.card {
	display: inline-block;
	margin: 10px;
	border: 1px solid #000;
	max-height: 100%;
	vertical-align: top;
}

.card img {
	display: block;
	width: 300px;
	height: 300px;
}

.card details {
	width: 300px;
	height: auto;
	display: inline-block;
}

.card details summary {
	font-size: 18px;
	padding: 10px;
}

.card details p {
	padding: 0 10px;
}

.card details blockquote {
	color: #777;
	font-style: italic;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid #000;
	margin-top: 40px;
}